#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
				&trans	&trans	&kp G	&kp M	&kp F	&kp W		&trans	&trans	&trans	&trans	&trans	&trans
				&trans	&kp J	&kp S	&kp N	&kp D	&kp P		&trans	&trans	&trans	&trans	&trans	&trans
				&trans	&kp R	&kp K	&kp L	&kp C	&kp B		&trans	&trans	&trans	&trans	&trans	&trans
				&trans	&kp X	&trans	&trans	&trans	&none		&none	&trans	&trans	&trans	&trans	&trans
				&none	&none	&trans	&trans	&none	&trans		&trans	&none	&trans	&trans	&none	&none	//this row is a bit confusing
				&none	&none	&none	&trans	&kp T	&trans		&trans	&trans	&trans	&none	&none	&none
				&none	&none	&none	&none	&trans	&trans		&trans	&trans	&none	&none	&none	&none
			>;
		};
	};
};