#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
				&trans	&trans	&kp F	&kp M	&kp P	&kp V
				&trans	&kp J	&kp S	&kp N	&kp D	&kp W
				&trans	&kp R	&kp G	&kp L	&kp C	&kp B
				&trans	&kp X	&trans	&trans	&trans	&none
				&none	&none	&trans	&trans	&none	&trans
				&none	&none	&none	&trans	&kp T	&trans
				&none	&none	&none	&none	&trans	&trans

				&kp 0	&kp 1	&kp 2	&kp 3	&kp 4	&kp 5
				&kp 6	&kp 7	&kp 8	&kp 9	&kp A	&kp B
				&kp C	&kp D	&kp E	&kp F	&kp G	&kp H
				&none	&kp I	&kp J	&kp K	&kp L	&kp M
				&kp N	&none	&kp O	&kp P	&none	&none
				&kp Q	&kp R	&kp S	&none	&none	&none
				&kp T	&kp U	&none	&none	&none	&none
			>;
		};
	};
};