if SHIELD_DMOTE_LEFT

config ZMK_KEYBOARD_NAME
	default "DMOTE Left"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_DMOTE_RIGHT

config ZMK_KEYBOARD_NAME
	default "DMOTE Right"

endif

if SHIELD_DMOTE_LEFT || SHIELD_DMOTE_RIGHT

config ZMK_SPLIT
	default y

endif